﻿@model SearchResult

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SearchResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div @*asp-validation-summary="ModelOnly"*@ class="text-danger">
                <input type="text" name="name"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
