﻿@model Result

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SearchResult</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<table class="table">
    <tbody>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Website
            </td>
            <td>
                @Model.Released
            </td>
            <td>
                @foreach (var item in Model.Parent_platforms)
                {
                    @item.Platform.Name
                }                                             
            </td>
            <td>
                @foreach (var developer in Model.Developers)
                {
                    @developer.Name
                }
            </td>
            <td>
                @foreach (var genre in Model.Genres)
                {
                    @genre.Name
                }
            </td>
            <td>
                <a asp-controller="games" asp-action="Save" asp-route-name="@Model.Name" asp-route-released="@Model.Released" asp-route-slug="@Model.Slug">Save</a>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
