﻿@model List<Result>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add new Game</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ReleaseDate
            </th>
            @*<th>
                Platforms
            </th>
            <th>
                Genre
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Released
                </td>
                @*<td>
                        @foreach (var platform in item.Parent_platforms)
                        {
                            @platform.Platform.Name
                        }
                    </td>*@
                @*<td>
                    @foreach (var genre in item.Genres)
                    {
                        @genre.Name
                    }
                </td>*@
                <td>
                    <a asp-action="Details" asp-route-slug="@item.Slug">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
