﻿@model SearchResult
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Release Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-slug="@item.Slug">@item.Name</a>
                </td>
                <td>
                    @item.Released
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
