﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Views/JavaScript.js"></script>
    <title>Index</title>
</head>
<body>
    <h1>Ajax mit jQuery $.post</h1>
    <input type="text" id="eingabe" />
    <input type="button" id="start" value="Text Senden" /><br />
    <div id="ausgabe">
        ...hier die Daten vom Server...
    </div>
</body>
</html>
